.four-card {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
  padding: 85px 35px 0;
}

.four-card__title {
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0.1px;
  padding: 0 5px;
}

.four-card__content {
  margin-top: 18px;
  letter-spacing: -0.41px;
  font-family: 15px;
  font-weight: 400;
  padding: 0 5px;
}

.four-card__card {
  margin-top: 75px;
}

/* Modifiers */
.font-weight-600 {
  font-weight: 600;
}
